* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #DBD0BD;
}

.principal-container {
    display: flex;
}

.left-container {
    width: 50vw;
    height: 100vh;
    background-color: #997653;
}

.right-container {
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.about-container {
    width: 25vw;
    margin-left: 2rem;
    gap: 1rem;
    ;
}
