:root {
    --background-color: #FFF3E7;
    --color-one: #FFF6A9;
    --color-two: #FF9376;
    --color-three: #8DAAA6;
    --color-four: #F6D5B6;
    --color-five: #D5D7CC;
    --font-color1: #000000;
    --font-color2: #FFFFFF;
    --font1: 'Inria Serif';
    --font2: 'Lato';
    --font-signature: 'Yesteryear';
}

* {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    flex-wrap: nowrap;
}


body {
    background-color: var(--background-color);
}

/* Nav-bar */

.nav-bar {
    display: flex;
    font-family: var(--font1);
    padding: 30px 50px;
    width: 100vw;
}

.nav-left {
    width: 50vw;
}

.nav-signature {
    color: var(--color-three);
    font-family: 'Yesteryear';
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    margin-left: 100px;
}

.nav-right {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40vw;
}

.nav-list > li > a {
    color: var(--font-color1);
    text-decoration: none;
}

.nav-list > li > a:hover {
    text-decoration: underline;
}

/* Home Banner */

.bold-text {
    font-weight: 700;
}

.bold-text > a {
    color: var(--background-color)!important;
}

.banner-container {
    align-items: flex-start;
    display: flex;
    height: 80vh;
    gap: 60px;
    width: 100vw;
}

.banner-left {
    font-family: var(--font2);
    margin-left: 130px;
    margin-top: 200px;
    width: 20vw;
}

.quote-section {
    justify-content: center;
    background-color: var(--font-color1);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 40vh;
    text-align: center;
    width: 12vw;
}

.quote-section > p {
    font-size: 1.1rem;
    font-style: italic;
    margin: 15px;
}

.banner-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    width: 40vw;
}

.banner-center > h1, h2 {
    font-family: var(--font1);
}

.banner-center > h1 {
    color: var(--color-two);
    font-size: 5rem;
}

.banner-center > h2 {
    color: var(--color-three);
    font-size: 2rem;
    margin-bottom: 50px;
}

.banner-center > p {
    font-family: var(--font2);
    margin-bottom: 50px;
}

.banner-center > button {
    background-color: var(--font-color1);
    border-color: var(--color-one);
    border-radius: 50px;
    color: var(--font-color2);
    font-family: var(--font-signature);
    font-size: 2rem;
    height: 70px;
    cursor: pointer;
    width: 300px;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.banner-center > button:hover {
    background-color: #E9AE8C;
}

.banner-right {
    display: flex;
    justify-content: flex-start;
    width: 20vw;
}

.photo {
    background-color: var(--font-color1);
    background-image: url("../img/profile-photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-color: var(--color-one);
    border-radius: 50%;
    height: 400px;
    margin-bottom: 30px;
    width: 300px;
}

.social-media {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.gh-logo {
    width: 50px;
}

.li-logo {
    width: 50px;
}

/* Background */

.circle-container {
    display: flex;
    justify-content: flex-end;
}

.circle {
    background-color: var(--color-two);
    border-radius: 50%;
    height: 600px;
    position: absolute;
    right: -150px;
    top: -350px;
    width: 600px;
    z-index: -1;
}

.back-circle {
    background-color: var(--color-three);
    border-radius: 50%;
    height: 200px;
    left: 150px;
    position: absolute;
    top: 150px;
    width: 200px;
    z-index: -1;
}

.front-circle {
    background-color: var(--color-two);
    border-radius: 50%;
    height: 200px;
    left: 80px;
    position: absolute;
    top: 220px;
    width: 200px;
    z-index: -1;
}

.little-circle1 {
    background-color: var(--color-four);
    border-radius: 50%;
    height: 50px;
    left: 50px;
    position: absolute;
    top: 170px;
    width: 50px;
    z-index: -1;
}

.little-circle2 {
    background-color: var(--color-four);
    border-radius: 50%;
    height: 80px;
    left: 50px;
    position: absolute;
    top: 420px;
    width: 80px;
    z-index: -1;
}

.home-curve {
    bottom: -60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -100;
}

.home-curve svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 161px;
}

.home-curve .shape-fill {
    fill: var(--color-two);
}

/* Projects */

main > .projects {
    background-color: var(--color-two);
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects > .cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 75vw;
    border-radius: 50px;
}

.cards-container > .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--color-two);
    background-color: var(--background-color);
    text-align: center;
    font-family: var(--font1);
    font-style: italic;
    height: 450px;
    width: 350px;
    border-radius: 25px;
}

.project-img {
    margin-top: 50px;
    width: 300px;
    height: auto;
    border-radius: 25px;
}

.card > p {
    width: 300px;
    color: var(--font-color1);
    font-family: var(--font2);
    font-size: 1rem;
}